/* loadingScreen.module.css */
.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #1a1a2e, #4a148c); /* Fondo azul oscuro con difuminado morado */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}